{% extends "layout/base.html" %}
{% load staticfiles %}

{% block header %}
    {% include "layout/navigationbar.html" with ishome="true" %}
{% endblock %}

{% block content %}
    {% include "layout/header_4_logout.html" %}

    <div class="container-fluid base">
        <canvas id="animated_texture" class="img-thumbnail" width="640" height="240">
          Sorry, your browser doesn't support the &lt;canvas&gt; element.
        </canvas>
    </div>

    <script src="{% static "js/TexGen.js" %}"></script>
    <style type="text/css">
        canvas {
            width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .base {
            position: relative;
            padding-top: 1%;
            padding-right: 2.5%;
            padding-bottom: 1%;
            padding-left: 2.5%;
            margin: 15px;
        }
    </style>
    <script>

        var i = 0;
        var size = 640;

        var canvas = document.getElementById("animated_texture");

        var context = canvas.getContext("2d");

        var vignette = new TG.Texture( size, size )        // predefine a vignette-effect so it can be used later
            .set( new TG.Circle().radius( size ).position( size / 2, size / 2 ).delta( size * 0.7 ) );

        function text1(){
            var texture = new TG.Texture( size, size )
                        .add( new TG.XOR().tint( Math.random(), Math.random(), Math.random() ) )
                        .add( new TG.SinX().frequency( 0.004 ).tint( 0.25, 0, 0 ) )
                        .sub( new TG.SinY().frequency( 0.004 ).tint( 0.25, 0, 0 ) )
                        .add( new TG.SinX().frequency( 0.0065 ).tint( 0.1, 0.5, 0.2 ) )
                        .add( new TG.SinY().frequency( 0.0065 ).tint( 0, 0.4, 0.5 ) )
                        .add( new TG.Noise().tint( 0.1, 0.1, 0.2 ) )
                        .toImageData(context);
            return texture;
        }

        function text2() {

            var numSamples = 6;        // more samples = heavier effect

            var base = new TG.Texture( size, size )        // generating an image to be blurred
                .set( new TG.FractalNoise().amplitude( 0.46 ).persistence( 0.78 ).interpolation( 0 ) )
                .set( new TG.Normalize() );

            var blur = new TG.Texture( size, size );        // the texture the samples are put onto

            for ( i = 0; i <= numSamples; i++ ) {
                var sample = new TG.Texture( size, size )
                .set( new TG.PutTexture( base ) )         // copy the base texture, so that it doesn't get modified
                .set( new TG.Transform().scale( 1 + 0.01 * i, 1 + 0.01 * i ).angle( 0.5 * i ) );        // modify the texture a bit more with each sample

                blur.add( new TG.PutTexture( sample ) );        // adding the transformed sample to the result
            }

            blur.set( new TG.Normalize() )        // since the samples are not weighted, put everything in the visible range
                .mul( new TG.PutTexture( vignette ) );        // adding the predefined vignette-effect

            base.toCanvas();        // since we copied the base texture instead of modifying it directly, we can still use it how it was before
            
            var texture = blur.toCanvas();
            var ctx2d = texture.getContext("2d");

            return ctx2d.getImageData(0, size / 3.5, size, size / 2);
        }

        function text3() {
            var subDim = Math.floor( size / 4 );        // generate a smaller image so it can be mirrored later

            var pixel = new TG.Texture( subDim, subDim )
                .set( new TG.FractalNoise().baseFrequency( subDim / 15 ).octaves( 1 ).amplitude( 1 ) )        // generating a noise pattern with 15 pixels per length
                .set( new TG.GradientMap().interpolation( 0 )        // divide the generated values into defined colors
                    .point( 0, [ 250, 230, 210 ] )        //[ 251, 255, 228 ] (alternative colors)
                    .point( 0.2, [ 255, 92, 103 ] )        //[ 130, 198, 184 ]
                    .point( 0.4, [ 200, 15, 17 ] )        //[ 42, 166, 137 ]
                    .point( 0.6, [ 140, 49, 59 ] )        //[ 58, 131, 114 ]
                    .point( 0.8, [ 35, 10, 12 ] )        //[ 4, 46, 27 ]
                    .point( 1, [ 0, 0, 0 ] ) )
                .div( new TG.Number().tint( 255, 255, 255 ) );        // converting the 0-255 defined colors to the 0-1 space

            var mirrored = new TG.Texture( size, size )
                .add( new TG.PutTexture( pixel ).repeat( 2 ) )        // repeat the texture to get a cool mirrored pattern effect
                .mul( new TG.PutTexture( vignette ).tint( Math.random(), Math.random(), Math.random() ) );        // adding the vignette from the example above
            return mirrored.toImageData(context);
        }

        function text4() {
            var texture = new TG.Texture( size, size*2 )
                .add( new TG.XOR() )
                .mul( new TG.OR().tint( Math.random(), Math.random(), Math.random() ) )
                .mul( new TG.SinX().frequency( 0.0312 ) )
                .div( new TG.SinY().frequency( 0.0312 ) )
                .add( new TG.SinX().frequency( 0.004 ).tint( Math.random(), Math.random(), Math.random() ) )
                .add( new TG.Noise().tint( 0.1, 0.1, 0.2 ) )
                .toImageData(context);
            return texture;
        }

        function text5() {
            var texture = new TG.Texture( size, size )
                .add( new TG.SinX().offset( - 16 ).frequency( 0.03 ).tint( 0.1, 0.25, 0.5 ) )
                .add( new TG.SinY().offset( - 16 ).frequency( 0.03 ).tint( 0.1, 0.25, 0.5 ) )
                .add( new TG.Number().tint( Math.random(), Math.random(), Math.random() ) )
                .add( new TG.SinX().frequency( 0.03 ).tint( 0.2, 0.2, 0.2 ) )
                .add( new TG.SinY().frequency( 0.03 ).tint( 0.2, 0.2, 0.2 ) )
                .add( new TG.Noise().tint( 0.1, 0, 0 ) )
                .add( new TG.Noise().tint( 0, 0.1, 0 ) )
                .add( new TG.Noise().tint( 0, 0, 0.1 ) )
                .toImageData(context);
            return texture;
        }

        function text6() {
            var texture = new TG.Texture( size, size )
                .add( new TG.SinX().frequency( 0.1 ) )
                .mul( new TG.SinX().frequency( 0.05 ) )
                .mul( new TG.SinX().frequency( 0.025 ) )
                .mul( new TG.SinY().frequency( 0.1 ) )
                .mul( new TG.SinY().frequency( 0.05 ) )
                .mul( new TG.SinY().frequency( 0.025 ) )
                .add( new TG.SinX().frequency( 0.004 ).tint( Math.random(), Math.random(), Math.random() ) )
                .toImageData(context);
            return texture;
        }

        function text7() {
            var texture = new TG.Texture( size, size )
                .add( new TG.SinX().frequency( 0.01 ) )
                .mul( new TG.SinY().frequency( 0.0075 ) )
                .add( new TG.SinX().frequency( 0.0225 ) )
                .mul( new TG.SinY().frequency( 0.015 ) )
                .add( new TG.Noise().tint( 0.1, 0.1, Math.random() ) )
                .toImageData(context);
            return texture;
        }

        function text8() {
            var radius = Math.floor((Math.random() * size / 4 ) + size / 8);
            var texture = new TG.Texture( size, size )
                .add( new TG.Circle().position( size / 2, size / 6 ).radius( radius ).delta( radius ).tint( 1, 0.25, 0.25 ) )
                .set( new TG.Pixelate().size( size / 64, size / 64 ) )
                .toImageData(context);
            return texture;
        }

        function text9() {
            var radius = Math.floor((Math.random() * size / 2 ) + size / 3);
            var strength = Math.floor((Math.random() * 87.5 ) + 62.5);
            var texture = new TG.Texture( size, size )
                .add( new TG.CheckerBoard().size( size / 16, size / 16 ) )
                .set( new TG.Twirl().radius( radius ).strength( strength ).position( size / 2, size / 2 ) )
                .min( new TG.Circle().position( size / 2, size / 2 ).radius( radius ).delta( radius ) )
                .toCanvas();
            var ctx2d = texture.getContext("2d");

            return ctx2d.getImageData(0, size / 3.5, size, size / 2);
        }

        function text10() {
            var i = Math.random();
            var texture = new TG.Texture( size, size )
                .add( new TG.SinX().frequency( 0.004 + 0.002*Math.sin( i ) ) )
                .mul( new TG.SinY().frequency( 0.004 + 0.002*Math.sin( i ) ) )
                .mul( new TG.SinY().offset( 32 ).frequency( 0.02 + 0.02*Math.sin( i ) ) )
                .div( new TG.SinX().frequency( 0.02 ).tint( 8, 5, 4 ) )
                .add( new TG.Noise().tint( 0.1, 0, 0 ) )
                .add( new TG.Noise().tint( 0, 0.1, 0 ) )
                .add( new TG.Noise().tint( 0, 0, 0.1 ) )
                .toImageData(context);
            return texture;
        }

        function text11() {
            var i = Math.random();
            var texture = new TG.Texture( size, size )
                .add( new TG.SinX().frequency( 0.066 + 0.05*Math.sin(i) ) )
                .add( new TG.SinY().frequency( 0.066 + 0.05*Math.sin(i) ) )
                .mul( new TG.SinX().offset( 32 ).frequency( 0.044 + 0.09*Math.sin(i) ).tint( 2, 2, 2 ) )
                .mul( new TG.SinY().offset( 16 ).frequency( 0.044 + 0.09*Math.sin(i) ).tint( 2, 2, 2 ) )
                .sub( new TG.Number().tint( 0.5, 2, 4 ) )
                .toImageData(context);
            return texture;
        }

        function text12() {
            var i = Math.floor(Math.random() * 10 )*10;
            console.log(i);
            var texture = new TG.Texture( size, size )
                .add( new TG.SinX().frequency( 0.05 + i/1000 ) )
                .mul( new TG.SinX().frequency( 0.08 - i/2000 ) )
                .add( new TG.SinY().frequency( 0.05 - i/1000 ) )
                .mul( new TG.SinY().frequency( 0.08 + i/2000 ) )
                .div( new TG.Number().tint( 1, 2, 1 ) )
                .add( new TG.SinX().frequency( 0.003 ).tint( 0.5, 0, 0 ) )
                .toImageData(context);
            return texture;
        }

        var o_x = 30, o_y = 20, o_w = 100, o_h = 30;

        var d = new Date();
        var h = d.getHours() % 12;

        switch (h) {
            case 0:
                context.putImageData( text1(), 0, 0 );
                paint_centered(canvas, o_x, o_y, o_w, o_h, "Analytics", "black", "transparent", "black");
                break;
            case 1:
                context.putImageData( text2(), 0, 0 );
                paint_centered(canvas, o_x, o_y, o_w, o_h, "Analytics", "white", "transparent", "white");
                break;
            case 2:
                context.putImageData( text3(), 0, 0 );
                paint_centered(canvas, o_x, o_y, o_w, o_h, "Analytics", "white", "black", "white");
                break;
            case 3:
                context.putImageData( text4(), 0, 0 );
                paint_centered(canvas, o_x, o_y, o_w, o_h, "Analytics", "white", "transparent", "white");
                break;
            case 4:
                context.putImageData( text5(), 0, 0 );
                paint_centered(canvas, o_x, o_y, o_w, o_h, "Analytics", "black", "transparent", "black");
                break;
            case 5:
                context.putImageData( text6(), 0, 0 );
                paint_centered(canvas, o_x, o_y, o_w, o_h, "Analytics", "#f2f2f2", "transparent", "#f2f2f2");
                break;
            case 6:
                context.putImageData( text7(), 0, 0 );
                paint_centered(canvas, o_x, o_y, o_w, o_h, "Analytics", "white", "#1a1a1a", "white");
                break;
            case 7:
                context.putImageData( text8(), 0, 0 );
                paint_centered(canvas, o_x, o_y, o_w, o_h, "Analytics", "#e60000", "black", "#ff0000");
                break;
            case 8:
                context.putImageData( text9(), 0, 0 );
                paint_centered(canvas, o_x, o_y, o_w, o_h, "Analytics", "white", "transparent", "white");
                break;
            case 9:
                context.putImageData( text10(), 0, 0 );
                paint_centered(canvas, o_x, o_y, o_w, o_h, "Analytics", "white", "transparent", "white");
                break;
            case 10:
                context.putImageData( text11(), 0, 0 );
                paint_centered(canvas, o_x, o_y, o_w, o_h, "Analytics", "#ff751a", "#1a1a1a", "#ffff99");
            default:
                context.putImageData( text12(), 0, 0 );
                paint_centered(canvas, o_x, o_y, o_w, o_h, "Analytics", "#e0ccff", "#1a1a1a", "#e0ccff");
        }

        /**
         * @param canvas : The canvas object where to draw . 
         *                 This object is usually obtained by doing:
         *                 canvas = document.getElementById('canvasId');
         * @param x     :  The x position of the rectangle.
         * @param y     :  The y position of the rectangle.
         * @param w     :  The width of the rectangle.
         * @param h     :  The height of the rectangle.
         * @param text  :  The text we are going to centralize
         * @param rectangle_stroke  :  The rectangle stroke color
         * @param rectangle_fill  :  The rectangle fill color
         * @param text_fill  :  The text color
         */
        function paint_centered(canvas, x, y, w, h, text, rectangle_stroke, rectangle_fill, text_fill) {
            // The painting properties 
            // Normally I would write this as an input parameter
            var Paint = {
                RECTANGLE_STROKE_STYLE : rectangle_stroke,
                RECTANGLE_FILL_STYLE : rectangle_fill,
                RECTANGLE_LINE_WIDTH : 0,
                VALUE_FONT : '16px Courier',
                VALUE_FILL_STYLE : text_fill
            }
            
            // Obtains the context 2d of the canvas 
            // It may return null
            var ctx2d = canvas.getContext('2d');
            
            if (ctx2d) {
                // draw rectangular
                ctx2d.strokeStyle = Paint.RECTANGLE_STROKE_STYLE;
                ctx2d.lineWidth = Paint.RECTANGLE_LINE_WIDTH;
                ctx2d.fillStyle = Paint.RECTANGLE_FILL_STYLE;
                ctx2d.fillRect(x, y, w, h);
                ctx2d.lineJoin = "round";
                ctx2d.strokeRect(x, y, w, h);
                ctx2d.textBaseline = "middle";
                ctx2d.font = Paint.VALUE_FONT;
                ctx2d.fillStyle = Paint.VALUE_FILL_STYLE;
                // returns the text width (given the supplied font) / 2
                textX = x + w/2 - ctx2d.measureText(text).width/2;
                textY = y + h/2;
                ctx2d.fillText(text, textX, textY);
            } else {
                // Do something meaningful
            }
        }

    </script>
{% endblock %}