{% extends "layout/base.html" %}

{% block header %}
    {% include "layout/navigationbar.html" with isgram="true" %}
{% endblock %}

{% block content %}

    {% include "layout/header_4_logout.html" %}

    <div class="container-fluid">
        <div class="base">
            <form id="ht-form" role="form">
                {% csrf_token %}
                <fieldset class="form-group">
                    <label for="id_username">Username:</label>
                    <input type="text" class="form-control" name="username" id="id_username" required/>
                </fieldset>

                <div class="form-group input-group date">
                    <div class="input-group-addon">From:</div>
                    <input type="text" class="datepicker form-control" id="date-from" name="date_from">

                    <div class="input-group-addon">to:</div>
                    <input type="text" class="datepicker form-control" id="date-to" name="date_to">
                </div>

                <div id="ht_progressbar" class="progress form-group">
                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                  </div>
                </div>

                <button type="submit" id="submit_btn" class="btn btn-primary btn-embossed form-control">Submit</button>
            </form>
        </div>

        <div class="base">
            <div id="container" style="width:100%; height:400px;"></div>
        </div>

        <div class="table-responsive">
            <table id="tag" class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th colspan="8">Summary User: "#<span id="username"></span>"</th>
                    </tr>
                    <tr>
                        <th>Total posts</th>
                        <th>Analysed posts</th>
                        <th>Total likes</th>
                        <th>Total comments</th>
                        <th>Followers</th>
                        <th>Engagement</th>
                        <th>Love Rate</th>
                        <th>Talk Rate</th>
                    </tr>
                </thead>

                <thead>
                    <tr>
                        <th id="media_count"></th>
                        <th id="media_analysed"></th>
                        <th id="total_likes"></th>
                        <th id="total_comments"></th>
                        <th id="total_scope"></th>
                        <th id="total_engagement"></th>
                        <th id="total_love_rate"></th>
                        <th id="total_talk_rate"></th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="table-responsive">
            <table id="posts" class="table table-condensed table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Likes</th>
                        <th>Comments</th>
                        <th>Engagement</th>
                        <th>Love Rate</th>
                        <th>Talk Rate</th>
                        <th>Link</th>
                        <th>Post Date</th>
                    </tr>
                </thead>
                <tbody id="posts-body">
                    
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">
    var postsTable;
    var posts_ids = [], posts_data = [];
    var nowTemp = new Date();
    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

    var date_to_changed = false;

    var checkin = $('.datepicker').datepicker({
        format: 'yyyy-mm-dd'
    });

    jQuery.validator.addMethod("incomplete_range", function(value, element) {
        return ($('#date-to').val() != '') == ($('#date-from').val() != '');
    }, "Incomplete date range");

    jQuery.validator.addMethod("invalid_range", function(value, element) {
        if (($('#date-to').val() != '') && ($('#date-from').val() != '')){
            var date_to_ = new Date($('#date-to').val());
            var date_from_ = new Date($('#date-from').val());
            return date_to_.valueOf() >= date_from_.valueOf();
        }
        return true;
    }, "Invalid date range");

    $('#ht-form').validate({
        rules: {
            id_tag_name: {
                required: true
            },
            date_from: {
                required: false,
                incomplete_range: true,
                invalid_range: true
            },
            date_to: {
                required: false,
                incomplete_range: true
            }
        },
        highlight: function(element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error');
        },
        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function(error, element) {
            if(element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        }
    });

    $(document).ready(function(){
        document.getElementById("ht_progressbar").style.visibility = 'hidden';

        postsTable = $('#posts').dataTable({
            "aaSorting": [],
            "sPaginationType": "full_numbers",
            "bFilter": false,
            "fnCreatedRow": function (nRow, aData, iDataIndex) {
                $(nRow).attr('id', aData[0]);
            },
            "aoColumns": [
                null,
                null,
                null,
                null,
                null,
                null,
                {"sClass": "col-md-1"},
                //null,
                //null,
                //null,
                null
            ]
        });
    });

    function include(arr,obj) {
        return (arr.indexOf(obj) != -1);
    }

    function union(array1, array2) {
        var hash = {}, union = [];
        $.each($.merge($.merge([], array1), array2), function (index, value) { hash[value] = value; });
        $.each(hash, function (key, value) { union.push(key); } );
        return union;
    }

    document.getElementById("ht-form").onsubmit = function() {
        return false;
    }
    
    document.getElementById("submit_btn").onclick = function() {
        prepareTable();
        var last = [];

        if ($('#ht-form').valid()) {

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "../username/" + $('#id_username').val() + "/", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            xhr.onprogress = function (e) {
                data = xhr.responseText;
                var data_l = data.split("\n");
                data_l = union(data_l, last);
                last = data_l;

                for (var i = 0, len = data_l.length; i < len; i++) {
                    element = data_l[i];
                    if(element != "") {
                        media = JSON.parse(element);
                        user = media.user;
                        post = media.post;
                        setUserValues(user);
                        if(!include(posts_ids, post.post_id)){
                            posts_ids.push(post.post_id);
                            addPostRow(post);
                            posts_data.push(post);
                        }
                    }
                }
                //});
            };

            xhr.onloadstart = function(e) {
                document.getElementById("ht_progressbar").style.visibility = 'visible'; 
                $('button').prop('disabled', true);
                posts_data = [];
            };

            xhr.onloadend = function(e) {
                document.getElementById("ht_progressbar").style.visibility = 'hidden';
                $('button').prop('disabled', false);
                addDataListToChart(posts_data, 'post_engagement');
                addDataListToChart(posts_data, 'post_like_count');
                addDataListToChart(posts_data, 'post_comment_count');
                // console.log(xhr.responseText);
            };

            xhr.send(JSON.stringify({from:$('#date-from').val(), to:$('#date-to').val()}));
        }
    };

    function prepareTable() {
        $('#username').html( $('#id_username').val() );
        $('#posts > tbody').html("");
        postsTable.api().rows().remove();
        posts_ids = [];
        var chart = $('#container').highcharts();
        chart.series[0].setData([]);
        prepareChart();
    }

    function setUserValues(user) {
        $('#media_count').html(user.media_count);
        $('#media_analysed').html(user.media_analysed);
        $('#total_likes').html(user.total_likes);
        $('#total_comments').html(user.total_comments);
        $('#total_scope').html(user.total_scope);
        $('#total_engagement').html((user.total_engagement * 100).toFixed(5) + ' %');
        $('#total_love_rate').html((user.total_love_rate * 100).toFixed(5) + ' %');
        $('#total_talk_rate').html((user.total_talk_rate * 100).toFixed(5) + ' %');
    }

    function addPostRow(post) {
        var rowData = [post.post_id,
                        post.post_like_count,
                        post.post_comment_count,
                        (post.post_engagement * 100).toFixed(5) + ' %',// post.post_engagement,
                        (post.post_love_rate * 100).toFixed(5) + ' %',// post.post_love_rate,
                        (post.post_talk_rate * 100).toFixed(5) + ' %',// post.post_talk_rate,
                        '<a href="' + post.post_link + '" target="_blank">' +
                        '    <img class="img-thumbnail" src="' + post.post_thumbnail_url + '" width="75" height="75">' +
                        '</a>',
                        //post.post_user.username,
                        //post.post_user.full_name,
                        //post.post_user.followed_by,
                        post.post_date];
        postsTable.fnAddData(rowData);
    }

    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'line',
                zoomType: 'x'
            },
            title: {
                text: 'Engagement rate for each post (the time concern to the post date)'
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                        'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
            },
            xAxis: {
                type: 'datetime',
                tickInterval:1,
                tickmarkPlacement: 'on',
                gridLineWidth: 1
            },
            yAxis: {
                title: {
                    text: 'Rate (%)'
                }
            },
            plotOptions: {
                line: {
                    animation: false
                },
                series: {
                        lineWidth: 2,
                        turboThreshold: 10000,
                        marker: {
                            enabled: true,
                            symbol: 'circle',
                            radius: 3
                        }
                    }
            },
            tooltip: {
                formatter: function () {
                    _text = 'Post Date: <b>' + this.point.post_date + '</b>' +
                    //'<br>Engagement: <b>' + this.point.y.toFixed(3) + '% </b>' + 
                    '<br>Engagement: <b>' + this.point.engagement.toFixed(3) + '% </b>' +
                    '<br>Likes: <b>' + this.point.likes + '</b>' +
                    '<br>Comments: <b>' + this.point.comments + '</b>';
                    return _text;
                }
            },
            series: [{
                name: "Engagement",
                data: []},
                {name: "Likes",
                data: []},
                {name: "Comments",
                data: []},
            ]
        });
    });

    function prepareChart() {
        var chart = $('#container').highcharts();
        for (var i=0; i < chart.series.length; i++) {
            chart.series[i].setData([], true, false);
        }
    }

    function addDataToChart(post) {
        var chart = $('#container').highcharts();
        d = new Date(post.post_date);
        d.setHours(d.getHours() - 5);
        d = Date.UTC(d.getUTCFullYear(), d.getUTCMonth(), d.getUTCDate(), d.getUTCHours(), d.getUTCMinutes(), d.getUTCSeconds());
        chart.series[0].addPoint({
            x: d,
            y: parseFloat(post.post_engagement) * 100.0,
            likes: post.post_like_count,
            comments: post.post_comment_count,
            post_date: post.post_date
        }, true, false, false);
    }

    function addDataListToChart(posts, attr) {
        data = [];
        var chart = $('#container').highcharts();

        var max_X, min_X, divisor;
        if (attr != 'post_engagement') {
            X = posts.map(function(post) {
                return parseInt(post[attr]);
            });
            max_X = Math.max.apply(null, X);
            min_X = Math.min.apply(null, X);
            divisor = max_X - min_X;
        }

        for (var i = 0, len = posts.length; i < len; i++) {
            post = posts[i];
            d = new Date(post.post_date);
            if (isNaN(d)) {
                var a = post.post_date.split(/[^0-9]/);
                d = new Date (a[0],a[1]-1,a[2],a[3],a[4],a[5]);
            }
            d.setHours(d.getHours() - 5);
            d = Date.UTC(d.getUTCFullYear(), d.getUTCMonth(), d.getUTCDate(), d.getUTCHours(), d.getUTCMinutes(), d.getUTCSeconds());
            y = parseFloat(post[attr]);
            if (attr != 'post_engagement') {
                y = getNormalizedValue(y, max_X, min_X, divisor);
            }
            tmp = { x: d,
                y: y * 100.0,
                engagement: parseFloat(post.post_engagement) * 100.0,
                post_date: post.post_date,
                likes: post.post_like_count,
                comments: post.post_comment_count };

            data.push(tmp);
        }
        data = data.sort(function(a, b) {
            return parseFloat(a.x) - parseFloat(b.x);
        });
        var series_id = 0;
        if (attr == 'post_engagement') {
            series_id = 0;
        } else if (attr == 'post_like_count') {
            series_id = 1;
        } else {
            series_id = 2;
        }
        chart.series[series_id].setData(data, true, false);
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function normalize(X) {
        var result = [];
        max_X = Math.max.apply(null, X);
        min_X = Math.min.apply(null, X);
        divisor = max_X - min_X;
        for (var i = 0, len = posts.length; i < len; i++) {
            x_i = X[i];
            var z = getNormalizedValue(x_i, max_X, min_X, divisor);
            result.push(z);
        }
        return result;
    }

    function getNormalizedValue(x_i, max_X, min_X, divisor) {        
        var z = 0;
        if (divisor > 0) {
            z = (x_i - min_X) / divisor;
        } else if (max_X > 0) {
            z = 1;
        }
        return z;
    }

    </script>
{% endblock %}