{% extends "layout/base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="base">
            {% if next %}
            <form action="{{path}}/admin/login/?next={{next}}" method="post" >
            {%else%}
            <form action="{{path}}/admin/login/" method="post" >
            {% endif %}
            <!--<form action="{{path}}/admin/login/" method='POST'> -->
                {% csrf_token %}
                <div >
                    <fieldset class="form-group">
                        <label for='username'> Username: </label>
                        <input type='text' name='username' id='username' class="form-control">
                        <label for='password'>Password: </label>
                        <input type='password' name='password' id='password' class="form-control">
                        {%if error %} 
                        <div class="control-group alert alert-danger fade in">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            {{error}}
                        </div>
                        {% endif%}

                        {%if success %}
                        <div class="alert alert-success">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            {{success}}
                        </div>
                        {% endif%}
                    </fieldset>
                    <!--<input type='submit' value='login'>-->
                    If you have an account
                    <button type="submit" id="submit_btn" class="btn btn-primary btn-embossed form-control">Login</button>

                    <hr>
                    Or
                    <a class="btn btn-default btn-embossed form-control" href="{{path}}/admin/login/gram/r/"><i class="fa fa-instagram"></i> Login with Instagram</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}