{% extends "layout/base.html" %}

{% block header %}
    {% include "layout/navigationbar.html" with isusers="true" %}
{% endblock %}

{% block content %}

    {% include "layout/header_4_logout.html" %}
    <div class="container-fluid base">
        <div class="base">
            {%if success %}
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                {{success}}
            </div>
            {% endif%}
            <a class="btn btn-info form-control" href="{{path}}/admin/register/"><span class="glyphicon glyphicon-plus-sign pull-left"></span> Add user</a>
        </div>
    	<div class="table-responsive">
            <table id="users" class="table table-condensed table-bordered table-striped">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>User full name</th>
                        <th>User email</th>
                        <th>State</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody id="users-body">
                	{% for user_ in users %}
                	<tr>
                		<td>{{ user_.username }}</td>
                		<td>{{ user_.first_name }} {{ user_.last_name }}</td>
                		<td>{{ user_.email }}</td>
                        {% if user_.is_active %}
                        <td><span class="label label-danger">Active</span></td>
                        {% else %}
                        <td><span class="label label-warning">Not Active</span></td>
                        {% endif %}
                        <td><a class="btn btn-primary btn-xs" href="{{path}}/admin/edit/{{user_.username}}/" data-title="Edit" ><span class="glyphicon glyphicon-edit"></span></a></td>
                	</tr>
                	{% endfor%}                    
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">
    $(document).ready(function(){
        postsTable = $('#users').dataTable({
            "aaSorting": [],
            "sPaginationType": "full_numbers",
            "bFilter": false,
            "fnCreatedRow": function (nRow, aData, iDataIndex) {
                $(nRow).attr('id', aData[0]);
            },
            "columnDefs": [ {
              "targets": 4,
              "orderable": false
            } ]
        });
    });
    </script>
{% endblock %}