{% extends "layout/base.html" %}

{% block header %}
    {% include "layout/navigationbar.html" with isusers="true" %}
{% endblock %}

{% block content %}

    {% include "layout/header_4_logout.html" %}
    <div class="container-fluid base">
        <div class="base">
            <form method="POST" role="form">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ userform.username.label }}:
                    {{ userform.username }}
                    <div class="alert alert-info">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Info:</strong> {{ userform.username.help_text }}
                    </div>
                    {% if userform.username.errors %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error:</strong> {{ userform.username.errors }}
                    </div>
                    {% endif%}
                    {{userform.first_name.label}}:
                    {{userform.first_name}}
                    {% if userform.first_name.errors %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error:</strong> {{ userform.first_name.errors }}
                    </div>
                    {% endif%}
                    {{userform.last_name.label}}:
                    {{userform.last_name}}
                    {% if userform.last_name.errors %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error:</strong> {{ userform.last_name.errors }}
                    </div>
                    {% endif%}
                    {{userform.email.label}}:
                    {{userform.email}}
                    {% if userform.email.errors %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error:</strong> {{ userform.email.errors }}
                    </div>
                    {% endif%}
                    {{userform.password1.label}}:
                    {{userform.password1}}
                    {% if userform.password1.errors %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error:</strong> {{ userform.password1.errors }}
                    </div>
                    {% endif%}
                    {{userform.password2.label}}:
                    {{userform.password2}}
                    <div class="alert alert-info">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Info:</strong> {{ userform.password2.help_text | safe }}
                    </div>
                    {% if userform.password2.errors %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error:</strong> {{ userform.password2.errors }}
                    </div>
                    {% endif%}
                    <label>{{userform.is_active.label}}: {{userform.is_active}}</label>
                    <div class="alert alert-info">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Info:</strong> {{userform.is_active.help_text}}
                    </div>
                    <button type="submit" id="submit_btn" class="btn btn-primary btn-embossed form-control">Submit</button>
                    <!--{% if userform.errors %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error:</strong> {{ userform.errors }}
                    </div>-->
                    {% endif%}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}