{% extends "layout/base.html" %}

{% block header %}
    {% include "layout/navigationbar.html" with isaccount="true" %}
{% endblock %}

{% block content %}

    {% include "layout/header_4_logout.html" %}
    <div class="container-fluid base">
        <div class="base">
            <form method="POST" role="form">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form.old_password.label }}:
                    {{ form.old_password }}
                    {% if form.old_password.errors %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error:</strong> {{ form.old_password.errors }}
                    </div>
                    {% endif%}
                    {{ form.new_password1.label }}:
                    {{ form.new_password1 }}
                    <div class="alert alert-info">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Info:</strong> {{ form.new_password1.help_text | safe }}
                    </div>
                    {% if form.new_password1.errors %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error:</strong> {{ form.new_password1.errors }}
                    </div>
                    {% endif%}
                    {{ form.new_password2.label }}:
                    {{ form.new_password2 }}
                    {% if form.new_password2.errors %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error:</strong> {{ form.new_password2.errors }}
                    </div>
                    {% endif%}
                </fieldset>
                <button type="submit" id="submit_btn" class="btn btn-primary btn-embossed form-control">Save</button>
            </form>
        </div>
    </div>
{% endblock %}