{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Se&ntilde;or Blankenbaker - Analytics Software</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="SrBlankenbaker Social Networks Analytics Software" />
    <meta name="robots" content="index, follow, noodp" />
    <meta name="googlebot" content="index, follow, noodp" />
    <meta name="distribution" content="web" />

    <!-- Open Graph data -->
    <meta property="og:title" content="Se&ntilde;or Blankenbaker - Analytics Software" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Se&ntilde;or Blankenbaker - Analytics Software" />
    <meta property="og:url" content="http://www.srblankenbaker.com/" />
    <meta property="og:image" content="http://srblankenbaker.com/static/images/logo.png" />
    <meta property="og:description" content="Social Networks Analytics Software" />

    <!--[if IE]><link rel="shortcut icon" href="{% static "favicon.ico" %}"><![endif]-->
    <link rel="icon" href="{% static "favicon.png" %}">
    <link rel="apple-touch-icon-precomposed" href=="{% static "apple-touch-icon-precomposed.png" %}">

    <!-- Chrome, Firefox OS, Opera and Vivaldi -->
    <meta name="theme-color" content="#375a7f">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#375a7f">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <style type="text/css">
        .base {
            position: relative;
            padding: 15px;
            margin: 15px;
        }
        .table-responsive{
            overflow-x: auto;
            width: 95%;
            margin:0 auto;
        }
    </style>
    <script src="{% static "js/jquery-1.12.2.min.js" %}"></script>
    <script src="{% static "js/datatables.min.js" %}"></script>
    <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/highcharts.js" %}"></script>
    <script src="{% static "js/themes/dark-unica.js" %}"></script>
    <!--#####################################################################################-->
    <link rel="stylesheet" type="text/css" href="{% static "css/datatables.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/datepicker.css" %}" />
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
    <header>
    {% block header %}
    {% endblock %}
    </header>
    <article>
    {% block content %}
    {% endblock %}
    </article>
    <footer>
        <div class="text-center">
            <p>Sr. Blankenbaker &copy; 2016</p>
            <p>Contact information: <a href="mailto:info@srblankenbaker.com">info@srblankenbaker.com</a>.</p>
        </div>
    </footer>
</body>
</html>