<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://www.srblankenbaker.com">Sr. Blankenbaker</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li{% if ishome %} class="active"{% endif%}><a href="{{path}}/">Home</a></li>
          <li{% if isgram %} class="active"{% endif%} class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Instagram ARS <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {% if request.user.username == "instagram" %}<li><a href="{{path}}/gram/loggeduserdata/">Profile analysis</a></li>{% endif%}
              <li><a href="{{path}}/gram/data/">Hashtag analysis</a></li>
              <li><a href="{{path}}/gram/userdata/">User analysis</a></li>
              <!--<li role="separator" class="divider"></li>-->
            </ul>
          </li>
          <li{% if isfb %} class="active"{% endif%}><a href="{{path}}/fb/data/">Facebook ARS</a></li>
          <li{% if istw %} class="active"{% endif%} class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Twitter ARS <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{path}}/tw/data/">Hashtag analysis</a></li>
              <li><a href="{{path}}/tw/userdata/">User analysis</a></li>
              <!--<li role="separator" class="divider"></li>-->
            </ul>
          </li>
          {% if request.user.username != "instagram" %}<li{% if isaccount %} class="active"{% endif%}><a href="{{path}}/admin/account/">Account</a></li>{% endif%}
          {% if request.user.is_superuser %}<li{% if isusers %} class="active"{% endif%}><a href="{{path}}/admin/users/">Users</a></li>{% endif%}
        </ul>
    </div>
  </div>
</nav>